form img {
    display: none;
}
.btns {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btns button{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
}

.btn-primary{
    background-color: rgb(71, 57, 226);
   
}
.btn-disable{
    background-color: rgb(204, 201, 219);
}
input[name = "idk"]  :enabled{
    color: blue;
}

.image, .base {
    width: 50%;
    height: 300%;
}

.block {
    width: 100px;
    height: 100px;
    background-color: #328cd1;
}

.ball img {
    display: block;
}